<div class ='body' {
  padding-top: 200px;
  background-color: lightgrey;
}>

<div class='row'>
      <h1><font color=#2A3944></h1>
    <div class='col-md-4 col-md-offset-4'>
      <h1><font color=lightgrey>Register Your Details</h1>
        <br>
    </div>


<div class='row'>
      <h1><font color=#2A3944></h1>
    <div class='col-md-4 col-md-offset-4'>
        <div class='panel panel-default'>
          <div class='panel-heading'>
                <!--     <h2 class='panel-title'>Sign in</h2>-->

          </div>

          <div class='panel-body'>

<%= simple_form_for(@user) do |f|%>
  <div class="form-inputs">
    <%= f.input :email %>
    <%= f.input :password %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
